@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Work+Sans:100,200,300,400,500,600');

* { margin: 0px; padding: 0px; }
body{
    background: #eaebec;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.5;
}

#container {
    display: grid;
    grid-template-columns: 70% 30%;
}

#card_container {
    display: grid;
    margin: 50 auto;
    grid-template-columns: repeat(3, 1fr);
}

#query_container {
    margin: 50 20;
}

.imageCardContainer {
    width: 360;
    height: 420;
    display: grid;
    margin: 10;
    grid-template-rows: 60% auto;
    background: ivory;
}

.questionCardContainer {
    margin: 10;
    padding: 10;
    width: 360;
    height: 150;
    background: ivory;
}


.image img {
    width: 100%;
    max-width: 360;
    height: auto;
}

.sectionContainer {
    display: grid;
    grid-template-rows: 40% 60%;
    overflow: hidden;
}

.contentContainer {
    display: grid;
    grid-template-columns: 80% 20%;
}

.titlesContainer {
    margin-left: 10;
    justify-self: left;
    align-self: center;
}

.title {
    font-weight: 700;
}

.subtitle {
    font-weight: 400;
}

.number {
    justify-self: center;
    align-self: center;
    font-size: 24;
}

.description {
    margin: 5 10;
}

.queryTitle {
    font-size: 30;
    font-weight: 700;
}

.queryList li {
    list-style-type: none;
    font-size: 20;
}